@model IEnumerable<CircularManagementSystem.Entity.Circular>

@{
    ViewBag.Title = "ViewCircular";
}


<div class="container-AddCircular">
    <div>
        <div>
            FileName    Link
        </div>
        <div>
            @foreach (CircularManagementSystem.Entity.Circular circulars in @Model)
            {
                <div>
                    @circulars.CircularName   @Html.ActionLink(circulars.CircularName, "DownloadFile", new { id = circulars.CircularId })
                </div>
            }
        </div>
    </div>
</div>